:root {
    --dp-red: #E2001A;
    --dp-black: #282828;
    --dp-gray: #F6F6F6;
    --dp-white: #FFFFFF;
    --dp-white-2: #f0f0f0;
    --font-roboto: "Roboto", sans-serif;
}

body {
    font-family: var(--font-roboto);
    color: var(--dp-black);
}

/* header {
    background-color: var(--dp-white-2);
} */
.btn{
    white-space: nowrap !important;
}
.image-wrapper img {
    max-height: 628px;
    min-height: 600px;
    object-fit: contain;
}
.container-lg {
    max-width: 1480px;
    margin: auto;
}

.bg-black {
    background-color: var(--dp-black) !important;
}

.logo-link {
    max-width: 90px;
}
.top{
    background-image: linear-gradient(#00091EBF, #00091EBF), url(../images/hero-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 4rem;
}

/* .hero {
    background-color: var(--dp-white-2)
} */

.sticky-nav img{
    max-width: 90px;
}
.sticky-nav .logo-wrapper, .sticky-nav .cta-link-group{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.sticky-nav.active .logo-wrapper, .sticky-nav.active .cta-link-group{
    opacity: 1;
    visibility: visible;
}

.sticky-nav.sticky-top{
   transition: 0.3s ease;
}
.sticky-nav.sticky-top{
    margin-bottom: 4rem;
}
.sticky-nav.sticky-top:not(.active) .nav_btns{
    border: 1px solid #dee2e6;
    border-radius: 0.5rem !important;
}

.sticky-nav.sticky-top.active{
    /* height: 100px; */
    display: flex;
    align-items: center;
    padding: 10px 0 0;
    margin-top: 1px;
}
.sticky-menu.w-100 {
    margin-top: -90px;
    height: 100px;
    display: flex;
    align-items: center;
}
.hero-content {
    max-width: 540px;
}
.title-lg {
    font-size: 3rem;
}

.title {
    font-size: 2.375rem;
}

.title span {
    color: var(--dp-red)
}

.container {
    max-width: 1175px;
}

.btn-danger {
    background-color: var(--dp-red) !important;
    border-width: 2px;
    border-color: var(--dp-red) !important ;
}
.btn-danger:hover {
    background-color: #FF001D !important;
    border-width: 2px;
    border-color: #FF001D !important;
}
.btn-danger:focus {
    border: 2px solid #9E0012 !important;
    background-color: var(--dp-red) !important;
}

.btn_link.active {
    border-bottom: 4px solid var(--dp-red) !important;
}
.btn_link:focus {
    border-bottom: 4px solid var(--dp-red) !important;
}
.btn_link_redirect:focus {
    border-bottom: 4px solid var(--dp-red) !important;
}

.btn-outline-dark {
    color: var(--dp-black) !important;
    border-color: var(--dp-black) !important;
}
.btn-outline-dark:hover {
    color: var(--dp-white) !important;
    border-color: var(--dp-black) !important;
    background-color: var(--dp-black) !important;
}
.btn-outline-dark:focus {
    color: var(--dp-white) !important;
    border-color: #D1CDCD !important;
    background-color: var(--dp-black)!important;
}

.btn-outline-light {
    color: var(--dp-white) !important;
    border-color: var(--dp-white) !important;
}
.btn-outline-light:hover {
    color: var(--dp-white) !important;
    border-color: var(--dp-white) !important;
    background-color: transparent !important;
}
.btn-outline-light:focus {
    color: var(--dp-black) !important;
    border-color: #D1CDCD !important;
    background-color: var(--dp-gray)!important;
}
.mb-36 {
    margin-bottom: 2.25rem !important;
}
.pt-96{
    padding-top: 6rem !important;
}
.pb-96{
    padding-bottom: 6rem !important;
}
.py-96 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}
.py-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.px-6 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.p-6 {
    padding: 4rem !important;
}

.pt-6 {
    padding-top: 4rem !important;
}

.pb-6 {
    padding-bottom: 4rem !important;
}

.shadow-dp {
    box-shadow: 0 0 6px 0 #0000001F;
}

.overly-logo {
    max-width: 80px;
    height: auto;
    left: auto;
    right: 30px;
    top: 0;
}

.fs-exsm {
    font-size: .8rem;
}

.accordion-button::after {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-image: url(../images/plus.png);
}

.accordion-button:not(.collapsed)::after {
    width: 25px;
    height: 25px;
    background-image: url(../images/minus.png);
}

.accordion-button {
    color: var(--dp-black);
    background-color: var(--dp-white-2);
}

.accordion-button:hover {
    background-color: #fafafa;
}

.accordion-button:focus {
    box-shadow: unset;
    outline: 0;
}

.accordion-button:not(.collapsed) {
    color: var(--dp-black);
    font-weight: 600;
    background-color: #fafafa;
    box-shadow: unset;
}

.accordion-body {
    background-color: #fafafa;
}

.check-red {
    list-style-image: url(../images/check.svg);
}

.check-red li::marker {
    font-size: 1.7em;
    line-height: 1;
}

.footer-link {
    font-size: 1.125rem;
    line-height: 36px;
}

.footer-link a {
    transition: 0.3s ease;
}

.footer-link a:hover {
    text-decoration: underline !important;
}

.box {
    width: 70px;
    height: 70px;
    transition: 0.3s ease;
}
.bg-blur-blue{
    background-image: linear-gradient(#00091EE5, #00091EE5), url(../images/bg-2-blur.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
footer .box:hover {
    background-color: var(--dp-red);

}
@media screen and (max-width: 1350px) {
    .sticky-nav.active .sticky-menu.w-100 {
        padding-left: 10vw ;
    }
    .image-wrapper img {
        min-height: 500px;
    }
}

@media screen and (max-width: 1120px) {
    .title {
        font-size: 2.18rem;
    }
}

@media screen and (max-width: 960px) {
    .title {
        font-size: 2.375rem;
    }
    .image-wrapper img {
        margin-top: 40px;
        min-height: auto;
    }
    .hero-content {
        max-width: 100%;
    }

    .logo-link {
        max-width: 60px;
    }

    .overly-logo {
        max-width: 50px;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 1.75rem;
    }

    .btn-group.border.rounded-3.overflow-hidden .btn {
        white-space: nowrap;
    }

    .btn-group-wrapper {
        overflow: scroll;
    }

    .container,
    .container-lg {
        padding: 0 20px !important;
    }

    .check-red {
        padding-left: 15px;
    }
}

@media screen and (max-width: 420px) {
    .title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 374px) {
    .title {
        font-size: 1.3rem;
    }

    a.btn {
        font-size: 13px;
    }
}